@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@keyframes fadeInSlideUp { 0% 
    { opacity: 0; transform: translateY(20px);
    } 100% { opacity: 1; transform: translateY(0);
    } }

@keyframes fadeInSlideDown { 0% 
    { opacity: 0; transform: translateY(-20px);
    } 100% { opacity: 1; transform: translateY(0);
    } 
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
:root {
    --cor-primaria: #1E1E2E;
    --cor-secundaria: #2A2A40;
    --cor-terciaria: #FF8C42;
    --cor-hover: #8a3c0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Markazi Text", sans-serif;
    background-color: var(--cor-primaria);
    color: antiquewhite;
}


.header {
    background-color: var(--cor-secundaria);
    color: #FF8C42;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    animation: fadeInSlideDown 2s ease-in-out;
    box-shadow: 0 0 20px rgba(251, 101, 20, 0.2);
}

.nome {
    font-family: 'Lobster', cursive;
    font-size: 1.9em;
    padding-left: 214px;
    animation: fadeInSlideDown 2s ease-in-out;
}

.nav-menu {
    display: flex;
    font-size: 25px;
    gap: 30px;
    padding-right: 212px;
}

.nav-menu a {
    color: #FF8C42;
    text-decoration: none;
    position: relative;
    animation: fadeInSlideDown 2s ease-in-out;
}

.nav-menu a::after {
    content: '';
    width: 0; 
    height: 2px; 
    background: var(--cor-hover); 
    transition: width .3s ease-in-out; 
    position: absolute; 
    bottom: -1px; 
    left: 0;
}

.nav-menu a:hover {
    color: var(--cor-hover);
}

.nav-menu a:hover::after {
    width: 100%;
    background: var(--cor-hover);
}

.apresentacao {
    flex: 1;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 2% 15%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    animation: fadeInSlideUp 2s ease-in-out;
}

.home {
    width: 50%;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 50px;
    overflow: hidden;
    transition: none;
    min-height: 200px;
}

.titulo-home {
    margin-bottom: 10px;
    gap: 10px;
    font-size: 2rem;
}

.conteudo-home {
    font-size: 1.5rem;
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.redes-sociais {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.social-column {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
}

.social-btn {
    
    margin: 10px 0 0 0;
    font-size: 1.2rem;
    padding: 10px 70px;
    text-align: center;
    border-radius: 10px;
    border-color: var(--cor-terciaria);
    box-shadow: 0 0 10px rgba(251, 101, 20, 0.2);
    cursor: pointer;
    text-decoration: none;
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    
    animation: grow 2s ease-in-out;
    transform-origin: center;
}

.social-btn:hover {
    opacity: 0.7;
}

.social-btn:active {
    background-color: var(--cor-hover);
    transform: scale(0.98);
}

.fa-github {
    background: #333;
}

.fa-instagram {
    background: #E4405F;
}

.fa-linkedin {
    background: #0077B5;
}

.fa-envelope {
    background: #f1ecec;
}

.social-btn:hover {
    opacity: 0.7;
}

.image {
    max-width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(251, 101, 20, 0.5);
    transition: background-color.3s ease-in-out;
}

.footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 20px rgba(251, 101, 20, 0.5);
    font-size: 1.3rem;
    padding: 13px;
    animation: fadeInSlideUp 2s ease-in-out;
}